# --------------------------------
# Flutter / Dart / Pub
# --------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# --------------------------------
# Flutter Build Output
# --------------------------------
build/                # ignore everything in build
!build/web/           # EXCEPT web build (keep for deployment)

# --------------------------------
# IDE / Editor Files
# --------------------------------
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.suo
*.user
*.userosscache
*.sln.docstates

# --------------------------------
# Misc System Files
# --------------------------------
.DS_Store
*.log
*.class
*.pyc
*.swp
.atom/
.svn/
.history
.build/
.buildlog/
migrate_working_dir/

# --------------------------------
# Android / Gradle
# --------------------------------
.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.ap_
*.aab
captures/
output.json

# --------------------------------
# iOS
# --------------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# --------------------------------
# macOS / Linux
# --------------------------------
macos/Flutter/Flutter.podspec
macos/Flutter/GeneratedPluginRegistrant.*
linux/flutter/generated_plugin_registrant.cc
