# -------------------------------
# Flutter / Dart / Pub
# -------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# -------------------------------
# Flutter / Build
# -------------------------------
/build/           # ignore all build folders
!build/web/       # except web build for deployment

# -------------------------------
# Windows / VS Code / IDE
# -------------------------------
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.log
*.class
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------------
# Android / Gradle
# -------------------------------
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/app/build/
*.apk
*.ap_
*.aab
.gradle/
/captures/
output.json

# -------------------------------
# iOS
# -------------------------------
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.podspec
/ios/Runner.xcworkspace/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# -------------------------------
# MacOS / Linux
# -------------------------------
/macos/Flutter/Flutter.podspec
/macos/Flutter/GeneratedPluginRegistrant.*
/linux/flutter/generated_plugin_registrant.cc

# -------------------------------
# Miscellaneous
# -------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
