# -------------------------------
# Flutter / Dart / Pub
# -------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# -------------------------------
# Flutter / Build
# -------------------------------
/build/           # ignore all build folders
!build/web/       # except web build for deployment

# -------------------------------
# Windows / VS Code / IDE
# -------------------------------
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml
*.ipr
*.iws
.idea/
.vscode/          # uncomment if you want to track VS Code configs
*.log
*.class
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------------
# Android / Gradle
# -------------------------------
/android/app/debug
/android/app/profile
/android/app/release
*.apk
*.ap_
*.aab
.gradle/
/captures/
/output.json

# -------------------------------
# iOS
# -------------------------------
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.podspec
/ios/Runner.xcworkspace/
/ios/Runner/GeneratedPluginRegistrant.*

# -------------------------------
# MacOS / Linux
# -------------------------------
/macos/Flutter/Flutter.podspec
/macos/Flutter/GeneratedPluginRegistrant.*
/linux/flutter/generated_plugin_registrant.cc

# -------------------------------
# Miscellaneous
# -------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
